header.header
  nav.nav.nav--tours
    a.nav__el(href='/') Kamp Turları
  .header__logo
    a(href='/') 
      img(src='/img/camping-icon.png', alt='Camping logo')
  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout ÇIKIŞ
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${user.photo}`, alt=`Photo of ${user.name}`)
        span= user.name.split(" ")[0]
    else
      a.nav__el(href='/login') GİRİŞ
      a.nav__el.nav__el--cta(href='/signup') Kayıt OL
