doctype html
html(lang='tr')
  head
    block head
      meta(charset='UTF-8', http-equiv='content-type', content='text/html')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(
        href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap',
        rel='stylesheet'
      )
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', type='image/png', href='/img/camping-icon.png')
      title Kamp | #{ title }

  body(data-alert=`${alert ? alert : ''}`)
    // HEADER
    include _header

    // CONTENT
    block content
      h1 This is placeholder

    // FOOTER
    include _footer

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')  

    script(src='/js/bundle.js') 
